* {
	background-image: none;
}

window {
	background-color: rgba(40, 40, 40, 0.9);
}

button {
	color: #fe8019;
	background-color: #3c3836;
	border-style: solid;
	border-width: 2px;
	border-color: #665c54;
	border-radius: 8px;
	margin: 5px;
	transition: all 0.3s ease;
	font-size: 32px;
	padding: 20px;
	min-height: 80px;
}

button:focus, button:active, button:hover {
	background-color: #504945;
	border-color: #fe8019;
	outline-style: none;
}

